html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

#loginContainer * {
  /* color: #fff; */
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: normal;
  line-height: 1em;
  box-sizing: border-box;
}

#loginContainer {
  width: 80%;
  margin: 0 auto;
  position: absolute;
  top: 2px;
  right: 50px;
  max-height: 1024px;
}

#inputContainer {
  width: 400px;
  padding: 45px;
  float: left;
  border-right: 1px solid;
}

#inputContainer h2 {
  text-align: center;
}

#inputContainer label {
  color: #a0a0a0;
  font-size: 15px;
  display: block;
  margin-top: 20px;
}

#inputContainer button {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 400px;
  color: #fff;
  display: block;
  font-size: 14px;
  letter-spacing: 1px;
  margin: 20px auto;
  height: 41px;
  width: 100%;
}

#inputContainer button:hover {
  cursor: pointer;
}

#registerForm,
#loginForm {
  display: block;
}

.hasAccountText {
  text-align: center;
}

.hasAccountText span {
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}

#artitName {
  display: block;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #fff;
  height: 27px;
  line-height: 27px;
  width: 100%;
}

#inputContainer input[type='text'],
#inputContainer input[type='email'],
#inputContainer input[type='password']
#inputContainer select {
  display: block;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #fff;
  height: 27px;
  line-height: 27px;
  width: 100%;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #fff;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: #fff;
}

/*#particles-js,#background{
    background: black;
    height: 400px;
}
*/
#background,
#particles-js {
  background-color: #2a2523;
  /*background-image: url(../images/bg.jpg);*/
  background-position: center;
  background-size: cover;
  display: table;
  width: 100%;
  height: 100%;
}

#loginText {
  padding: 50px;
  display: table-cell;
}

#loginText h1 {
  color: #3ef93c;
  font-weight: bold;
  font-size: 40px;
}

#loginText h2 {
  padding: 20px;
}

#loginText ul {
  padding: 20px;
}

#loginText li {
  font-size: 20px;
  list-style-type: none;
  padding: 15px 50px;
  background: url(../images/icons/checkmark.png) no-repeat 0 0;
}

#inputContainer .errorMsg {
  color: #3ef93c;
  font-size: 12px;
  display: block;
  border: 1px solid #fff;
  border-radius: 25px;
  text-align: center;
}
